<%- include("../partials/header")%>
<div class="container">
	<div class="row">
		<div class="col-lg-1">

		</div>
		<div class="col-lg-10">
			<div class="card my-3 py-1 "  style="width: 100%">
				<img class="card-img-top" src="<%= truck.image %>" alt="Card image cap">
				<div class="card-body pb-3">
					<h4 class=" d-inline">
						<a href="#"><%= truck.name%></a>
					</h4>
					<p class="my-3">
						<%= truck.description %>
					</p>
				</div>
			  <hr class="mt-0">
			  <section class="comments">
				<%truck.comments.forEach(function(comment){ %>
					<article class="comment">
					<a class="comment-img" href="#non">
						<img src="https://pbs.twimg.com/profile_images/444197466133385216/UA08zh-B.jpeg" alt="" width="50" height="50">
					</a>
					
					<div class="comment-body">
						<div class="text mr-3">
						<p><%=comment.text%></p>
						</div>
						<p class="attribution">by <a href="#non"><%=comment.author%></a> at 14:23pm, 4 Dec 2015</p>
					</div>
					</article>
				<%});%>
				
			</div>
			<form action="/trucks/<%= truck._id%>" method="POST">
				<div class="input-group input-group-sm chatMessageControls">
					<span class="input-group-addon" id="sizing-addon3">Comment</span>
					<input type="text" name="comment[text]" class="form-control" placeholder="Type your message here.." aria-describedby="sizing-addon3"> 
					<span class="input-group-btn form-group">
						<button id="sendMessageButton" class="btn btn-primary" >Send</button>
					</span>
					
				</div>
			</form>
				  
					
		</div>
		<div class="col-lg-1">

		</div>
	</div>
	
<%- include("../partials/footer")%>
